/* --------- HEADER --------- */

header{
    text-align: center;
    border-style: groove;
    border-color: grey;
    border-width: 10px;
    padding: 30px;
}

h1{
    font-size: 60px;
    font-family: 'Courgette', cursive;
    color: floralwhite;
}

.mainHeader{
    background-image: url("../img/underwater.jpg");
}

nav li{
    display: inline-block;
    color: white;   
    margin: 10px 5px 10px 5px;
}

button{
    color: white;
    background: #888;
    font-family: 'Courgette', cursive;
    font-size: 20px;
    margin: 30px 30px 5px 30px;
    border-radius: 10px;
    padding: 0px 25px 0px 25px;
    border: 3px solid #333;
}

button:hover{
    background-color: teal;
}

/* --------- MAIN ---------- */


main{
    background: tan;
    height: 100%;
    width: 100%;
}

.aboutUs img{
    border: solid 2px black;
    border-radius: 25px;
}
h2{
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h3{
    font-size: 20px;
    text-decoration: underline;
    font-weight: bold;
    margin: 10px auto 10px auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h4{
    font-weight: bold;
    margin: 10px auto 10px auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul{
    text-align: center;
}

td{
    border: 1px solid black;
    padding: 5px;
}

img{
    max-width: 90%;
    max-height: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

table{
    border: 5px groove grey;
    margin: 10px auto 10px auto;
    max-width: 100%;
    max-height: 100%;
}

tr{
    text-align: center;
    margin: 50px;
    padding: 5px;
    color: black;
    background-color:lightblue;
    border: 2px solid black;
}

.grid{
    float: left;
    width: 20%;
}

.container1{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: stretch;
}

.aboutUs{
    width: 65%;
    border: solid 2px black;
    margin: 200px;
    background-color: teal;
    padding: 15px;
    margin: 25px;
    border-radius: 25px;
}

.aboutUs p{
    margin: 5px 0px 0px 0px;
}
.storeInfo{
    width: 15%;
    border: solid 2px black;
    /* margin: 10px; */
    background-color: teal;
    padding: 15px;
    margin: 25px 0px 25px 25px;
    border-radius: 25px;
}

.events{
    width: 20%;
    background-color: teal;
    padding: 15px;
    margin: 25px 25px 25px 0px;
    border-radius: 25px;
    border: solid 2px black;
}

/*=========STORE============*/
.images{
    border:2px solid black;
    width: 50%;
    background-color: teal;
    margin: 20px;
    padding: 25px;
    border-radius: 25px;
}

.descriptors{
    border: 2px solid black;
    padding: 25px;
    width: 50%;
    background-color: teal;
    margin: 20px;
    border-radius: 25px;
}

/*============FOOTER=============*/

footer{
    background-color: teal;
    height: auto;
    width: 100%;
    border-top: groove 5px grey;
}

footer img{
    background-color: teal;
    border: groove grey 5px;
}

.footContainer{
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.footImage{
    width: 25%;
}

.contact{
    width: 75%;
    text-align: left;
    margin: 20px 20px 20px 0px;
    padding: 15px 15px 15px 0px;
    font-weight: bold;
}